body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Exo", sans-serif;
    color: #000000;
    background-color: #eeeeee;
    display: grid;
    grid-template-areas: 'head head' 
                         'nav content';
    grid-template-columns: 200px auto;
    grid-template-rows: 60px auto;

}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


h1 {
    text-align: center;
}

h2 {
    font-style: italic;
}

div.banner {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 430px;
    height: 60px;

}

#bgh {
    grid-area: head;
    background: linear-gradient(-45deg, #1255ff, #45ddd5, #23a6d5);
    background-size: 100% 100%;
    /*animation: gradientBG 5s ease infinite;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    grid-area: nav;
    background: #08083b;
    width: 200px;
    height: 100%;
    margin-top: 60px;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    line-height: 1.35;
}

.nav ul {
    list-style-type: none;
    padding: 15px;
}

.nav ul li {
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}

.content {
    grid-area: content;
    overflow: scroll;
    margin: 1rem 10%;
}

.profile-cards {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.profile-cards li {
    display: inline-block;
    flex: 1 0 20%;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.profile-cards li img {
    width: 100%;
}

.profile-name {
    display: block;
    text-align: center;
    font-size: 13px;
}

.profile-position {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #000000;
}

@media (max-width: 768px) {
    body {
        grid-template-areas: 'head'
                             'nav'
                             'content';
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto 1fr;
    }
    div.banner {
        width: 100%;
        background-size: contain;
    }
    .nav {
        display: inline-block;
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 0;
    }
    .nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content {
        margin: 1rem 5%;
    }
}