body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h1{
	text-align: center;
}

h2{
	font-style: italic;
}

div.banner{
	background-image: url("../img/logo.png");
	width: 430px;
	height: 60px;

}
#bgh {
	background:rgba(225,225,225,.4);

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav{
	background: #08083b ;
	width: 200px;
	height: 100%;
	margin-top: 90px;
	position: fixed;
	color:white;
	top:0;
	left:0;
	line-height: 1.35;
}

.nav ul {
	list-style-type: none;
	padding: 15px;
}

.nav ul li {
	padding: 5px;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: lightgray;
}

.content{
	margin-top: 5%;
	margin-left: 17%;
	margin-right: 7%;
}
